@charset "UTF-8";
:root {
  --color-black: #000;
  --color-blackRaisin: #232021;
  --color-gray: #474747;
  --color-white: #fff;
  --color-yellow: #FFD642;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:focus {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
  line-height: 1;
  font-family: "GothamPro", sans-serif;
  font-size: 0.875rem;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "GothamPro", sans-serif;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: unset;
}

.wrapper {
  display: grid;
  grid-template-columns: 6.25rem 1fr;
  grid-template-rows: 6.25rem 1fr;
  min-height: 100%;
  overflow: hidden;
}
.wrapper > header {
  grid-column: 2;
}
.wrapper > aside {
  grid-row: 1/span 2;
}
.wrapper > main {
  grid-column: 2;
}

.js-focus-visible :focus-visible {
  transition: outline 0.1s ease 0s;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 69.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.aside[data-v-7274a56c] {
  position: relative;
  background-color: var(--color-yellow);
}
.aside__logo[data-v-7274a56c] {
  position: relative;
  margin-bottom: 3.125rem;
}
.aside__logo .i-logo[data-v-7274a56c] {
  width: 6.25rem;
  height: 6.25rem;
}
.aside__logo[data-v-7274a56c]::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 2.0625rem);
  bottom: 0;
  width: 4.125rem;
  height: 2px;
  background-color: #000;
}
.aside__menu[data-v-7274a56c] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside__burger[data-v-7274a56c], .aside__search[data-v-7274a56c], .aside__edit[data-v-7274a56c] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.875rem;
}
.aside__burger.active[data-v-7274a56c], .aside__search.active[data-v-7274a56c], .aside__edit.active[data-v-7274a56c] {
  width: 100%;
  background-color: var(--color-black);
}
.aside__search[data-v-7274a56c] {
  color: var(--color-blackRaisin);
}
.aside__search.active[data-v-7274a56c] {
  color: var(--color-white);
}
.aside__search .i-search[data-v-7274a56c] {
  width: 1.875rem;
  height: 1.875rem;
}
.aside__edit[data-v-7274a56c] {
  color: var(--color-blackRaisin);
}
.aside__edit.active[data-v-7274a56c] {
  color: var(--color-white);
}
.aside__edit .i-pencil[data-v-7274a56c] {
  width: 1.875rem;
  height: 1.875rem;
}
.aside__avatar[data-v-7274a56c] {
  margin-top: 2.1875rem;
}
.aside__avatar img[data-v-7274a56c] {
  border-radius: 50%;
}
.burger[data-v-7274a56c] {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.375rem;
  margin: 0 auto;
  z-index: 5;
}
.burger span[data-v-7274a56c], .burger[data-v-7274a56c]::before, .burger[data-v-7274a56c]::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.25rem;
  background-color: #000;
}
.burger[data-v-7274a56c]::before {
  top: 0;
}
.burger[data-v-7274a56c]::after {
  bottom: 0;
}
.burger span[data-v-7274a56c] {
  top: calc(50% - 0.125rem);
}
.active .burger span[data-v-7274a56c] {
  width: 0;
}
.active .burger[data-v-7274a56c]::before, .active .burger[data-v-7274a56c]::after {
  background-color: var(--color-white);
}
.active .burger[data-v-7274a56c]::before {
  top: calc(50% - 0.125rem);
  transform: rotate(-45deg);
}
.active .burger[data-v-7274a56c]::after {
  bottom: calc(50% - 0.125rem);
  transform: rotate(45deg);
}
