*{
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
:focus{
	outline: none;
}
html,
body {
	height: 100%;
	min-width: $minWidth + px;
}
body {
	color: var(--color-blackRaisin);
	background-color: var(--color-white);
	line-height: 1;
	font-family: $fontFamily;
	font-size: $fontSize;
	//text-rendering: optimizeLegibility;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
	color: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
ol{
	list-style: none;
}
img {
	vertical-align: top;
	object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address{
  font-style: unset;
}