@use "sass:math";

// Подключение миксинов
@import "mixins";

// Шрифт по умолчанию
$fontFamily: "GothamPro", sans-serif;
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// НАСТРОЙКИ
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1110;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 20;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
$grid-breakpoints: (
  mobileSmall: 480em, // Телефоны S 480px
  mobile: 768em, // Телефоны L 768px
  tablet: 992em, // Планшеты, некоторые телефоны в горизонтальном положении 992px
  laptop: 1024em, // Ноутбуки S 1024px
  laptop-xl: 1200em, // Ноутбуки L 1200px
  pc: 1130em // ПК $containerWidth
);

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
