// Подключение миксинов и переменных
@import "base/variables";

// Основные цвета
:root{
	--color-black: #000;
	--color-blackRaisin: #232021;
	--color-gray: #474747;
	--color-white: #fff;
	--color-yellow: #FFD642;
}

// Подключение шрифтов
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Обнуление и общие параметры
@import "base/null";

body {
	// Скролл заблокирован
	// .lock & {
	// 	overflow: hidden;
	// 	touch-action: none;
	// }
	// Сайт загружен
	// .loaded & {
	// }
}
// Оболочка
.wrapper {
	display: grid;
	grid-template-columns: rem(100) 1fr;
	grid-template-rows: rem(100) 1fr;
	min-height: 100%;
	overflow: hidden;
	// Прижимаем footer
	> header{
		grid-column: 2;
	}
	> aside{
		grid-row: 1 / span 2;
	}
	> main {
		grid-column: 2;
	}
	// Фикс для слайдеров
	// > * {
	// 	min-width: 0;
	// }
}
// Ограничивающий контейнер
.js-focus-visible :focus-visible{
	transition: outline .1s ease 0s;
  // outline: rem(3) solid var(--colorDarkRaspberry);
}
.js-focus-visible :focus:not(.focus-visible){
  outline: none
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";