// Подключение миксинов и переменных
@import "base/variables";

// Основные цвета
:root {
	--color-black: #000;
	--color-blackRaisin: #232021;
	--color-gray: #474747;
	--color-white: #fff;
	--color-yellow: #FFD642;
}

// Подключение шрифтов
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Обнуление и общие параметры
@import "base/null";

body {
	// Скролл заблокирован
	// .lock & {
	// 	overflow: hidden;
	// 	touch-action: none;
	// }
	// Сайт загружен
	// .loaded & {
	// }
}

// Ограничивающий контейнер
.js-focus-visible :focus-visible {
	transition: outline .1s ease 0s;
	outline: rem(3) solid var(--color-yellow);
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*="__container"] {
	@if ($maxWidthContainer>0) {
		max-width: rem($maxWidthContainer);
		box-sizing: content-box;
		margin: 0 auto;
	}

	@if ($containerPadding>0) {
		padding: 0 rem(math.div($containerPadding, 2));
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

.input {
	font-weight: 700;
	border: 2px solid var(--color-black);

	&::placeholder {
		color: #C4C4C4;
	}
}

.button-add {
	font-size: rem(22) !important;
	font-weight: 500;
}