include _mixins
.personal-facts
  .personal-facts__item
    .personal-facts__title 13
    .personal-facts__subtitle Законченых проектов
  .personal-facts__item
    .personal-facts__title 10
    .personal-facts__subtitle Опыт работы
  .personal-facts__item
    .personal-facts__title 3
    .personal-facts__subtitle Прекрасных детей
  .personal-facts__item
    .personal-facts__title 2
    .personal-facts__subtitle оконченных образований 
