include _mixins
section.qualification-skills
  h3.qualification-skills__title Квалификация 
  .qualification-skills__items
    .qualification-skills__item
      span Курсы Skillbox
      time.qualification-skills__time.qualification-skills__time_begin(datetime='2021') 2021
      time.qualification-skills__time.qualification-skills__time_end(datetime='2022') 2022
    .qualification-skills__item
      span Курсы GeekBrains
      time.qualification-skills__time.qualification-skills__time_begin(datetime='2019') 2019
      time.qualification-skills__time.qualification-skills__time_end(datetime='2020') 2020
