@font-face {
	font-family: GothamPro;
	font-display: swap;
	src: url("../fonts/GothamPro-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: GothamPro;
	font-display: swap;
	src: url("../fonts/GothamPro-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: GothamPro;
	font-display: swap;
	src: url("../fonts/GothamPro-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: GothamPro;
	font-display: swap;
	src: url("../fonts/GothamPro.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
